<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
    <div class="container">

        <div class="section-title">
            <h2>Galeria</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in
                iste officiis commodi quidem hic quas.</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/gallery-1.webp" class="venobox" data-gall="gallery-item">
                        <img src="assets/img/gallery/gallery-1.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/gallery-2.webp" class="venobox" data-gall="gallery-item">
                        <img src="assets/img/gallery/gallery-2.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/gallery-3.webp" class="venobox" data-gall="gallery-item">
                        <img src="assets/img/gallery/gallery-3.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/gallery-4.webp" class="venobox" data-gall="gallery-item">
                        <img src="assets/img/gallery/gallery-4.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/gallery-5.webp" class="venobox" data-gall="gallery-item">
                        <img src="assets/img/gallery/gallery-5.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/gallery-6.webp" class="venobox" data-gall="gallery-item">
                        <img src="assets/img/gallery/gallery-6.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/gallery-7.webp" class="venobox" data-gall="gallery-item">
                        <img src="assets/img/gallery/gallery-7.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/gallery-8.webp" class="venobox" data-gall="gallery-item">
                        <img src="assets/img/gallery/gallery-8.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Gallery Section -->